<section class="section-testimonials">
	<div class="content-wrap">
	  <h1>Testimonials</h1>

    <div id="testimonials" class="testimonials-cards">
  	  <div class="testimonials-card">
        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure excepturi officiis, voluptatem molestias est culpa aspernatur ratione, dolores, dolor tempore provident. Odio facilis nam illum, quidem, ipsum fugit recusandae officiis?</p>
        <p class="testimonials-name">
          - John Doe
        </p>
      </div>
      <div class="testimonials-card">
        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure excepturi officiis, voluptatem molestias est culpa aspernatur ratione, dolores, dolor tempore provident. Odio facilis nam illum, quidem, ipsum fugit recusandae officiis?</p>
        <p class="testimonials-name">
          - John Doe
        </p>
      </div>
      <div class="testimonials-card">
        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure excepturi officiis, voluptatem molestias est culpa aspernatur ratione, dolores, dolor tempore provident. Odio facilis nam illum, quidem, ipsum fugit recusandae officiis?</p>
        <p class="testimonials-name">
          - John Doe
        </p>
      </div>
    </div>

  </div>
</section>
