&lt;div class=&quot;staff-headshots&quot;&gt;
  &lt;div class=&quot;content-wrap&quot;&gt;
    &lt;h1&gt;Our Professional Recruitment Staff&lt;/h1&gt;
    &lt;div class=&quot;staff-headshots__con&quot;&gt;
      {{# listItems.five }}
      {{&gt; molecules-staff-member }}
      {{/ listItems.five }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
