<div class="staff-member">
	<img class="staff-member__img" src="https://placeholdit.imgix.net/~text?txtsize=14&txt=144%C3%97144&w=144&h=144" alt="" />
	<h3 class="staff-member__name">Staff Name</h3>
	<p class="staff-member__title">Staff Title / Other Title</p>
</div>
