<div class="scholarship-winner">
	<div class="scholarship-winner__img">
		<img src="https://placeholdit.imgix.net/~text?txtsize=24&txt=260%C3%97260&w=260&h=260" alt="" />
	</div>
	<p class="scholarship-winner__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit voluptatem eveniet dolore reiciendis necessitatibus libero debitis voluptatibus fugit illo eaque ad sit totam, blanditiis alias, omnis sequi autem magni.</p>
</div>
