<div class="testimonial">
	<div class="testimonial__img">
		<img src="https://placeholdit.imgix.net/~text?txtsize=24&txt=260%C3%97260&w=260&h=260" alt="" />
	</div>
	<p class="testimonial__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit voluptatem eveniet dolore reiciendis necessitatibus libero debitis voluptatibus fugit illo eaque ad sit totam, blanditiis alias, omnis sequi autem magni.</p>
	<p class="btn btn--small testimonial__btn"><a href="">Read More</a></p>
</div>
