<div class="footer" style="background-image: url('../../images/footer-bg.jpg');">
	<div class="content-wrap">
		<div id="footer-links" class="footer-links">
			<ul>
				<li class="footer-links__link footer-links__link--header"><a href="#">Footer Header</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link footer-links__link--header"><a href="#">Footer Header</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link footer-links__link--header"><a href="#">Footer Header</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link footer-links__link--header"><a href="#">Footer Header</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link"><a href="#">Footer Link</a></li>
		  	<li class="footer-links__link footer-links__link--header"><a href="#">Footer Header</a></li>
		  	<li class="footer-links__link footer-links__link--header"><a href="#">Footer Header</a></li>
			</ul>
		</div>
		<div class="footer-contact">
			<h3 class="footer-contact__title">Contact Information</h3>
			<p class="footer-contact__email"><a href="#">info@staffingkc.com</a></p>
			<p class="footer-contact__phone">Ph: <a href="#">913-663-5627</a></p>
			<p class="footer-contact__address">9930 College Boulevard<br />Overland Park, KS 66210</p>
			<img class="footer-contact__logo" src="../../images/staffingkc-logo-white.svg" alt="" />
		</div>
	</div>
</div>
