<div class="mobile-head">
	<a href="{{ url }}" class="mobile-head__logo">
		<img src="../../images/staffingkc-logo.svg" class="header-logo" alt="Logo Alt Text" />
	</a>
	<a href="{{ url }}" class="mobile-head__nav-toggle" id="nav-toggle"></a>
</div>

<div class="nav-wrap" id="nav-wrap">
	{{> molecules-top-nav }}
	{{> molecules-primary-nav }}
</div>
