.mobile-head {
	overflow: hidden;
	background: url('../images/home-hero.jpg') no-repeat;
	background-size: cover;
	position: relative;
  z-index: 2;
}
.mobile-head__logo {
  display: block;
  width: 100px;
  margin: 1rem;
  float: left;
}
.mobile-head__nav-toggle {
	display: block;
	background: url('../images/nav-toggle.svg') no-repeat;
	width: 2.5rem;
	height: 2.5rem;
	float: right;
	margin-top: 3rem;
	margin-right: 2rem;
}

.nav-wrap {
	z-index: 1;
	position: relative;
	transition: transform 0.5s ease;
	transform: translate(0,-100%);
}
.nav-open .nav-wrap {
	transform: translate(0,0) !important;
}

@media (max-width: 767px) {
	.nav-wrap {
    position: absolute;
    width: 100%;
    top: 128px;
    background-color: white;
	}
}

@media (--md) {
	.mobile-head {
		display: none;
	}
	.nav-wrap {
		display: block;
		transform: translate(0,0) !important;
	}
}
