&lt;section class=&quot;section-services&quot;&gt;
  &lt;div class=&quot;content-wrap&quot;&gt;

    &lt;div class=&quot;tabbed-content&quot;&gt;
      &lt;ul class=&quot;tabs&quot;&gt;
        &lt;li class=&quot;tab-link current&quot; data-tab=&quot;tab-1&quot;&gt;&lt;h2&gt;Candidates Services&lt;/h2&gt;&lt;/li&gt;
        &lt;li class=&quot;tab-link&quot; data-tab=&quot;tab-2&quot;&gt;&lt;h2&gt;Employer Services&lt;/h2&gt;&lt;/li&gt;
      &lt;/ul&gt;

      &lt;div class=&quot;tab-con&quot;&gt;
        &lt;div id=&quot;tab-1&quot; class=&quot;tab-content current&quot;&gt;
          &lt;ul id=&quot;tab-content-1&quot;&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div id=&quot;tab-2&quot; class=&quot;tab-content&quot;&gt;
          &lt;ul id=&quot;tab-content-2&quot;&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;a href=&quot;#&quot; class=&quot;btn btn--large&quot;&gt;See All Services&lt;/a&gt;

  &lt;/div&gt;
&lt;/section&gt;
