<section class="section-about">
	<div class="content-wrap">
	  <h1>About Us</h1>
	  <p>Lorem ipsum dolor sit amet, autem nullam posidonium ut eum. Ea oporteat persecuti mnesarchum sed, ne mazim eirmod iracundia mea. Habeo posse ridens cu sit, sint velit sit ad, legere primis deseruisse te eam. Lorem ipsum dolor sit amet, autem nullam posidonium ut eum.</p>
	  <a href="#" class="btn btn--large">Learn More</a>
  </div>
  <ul class="section-about__names no-list">
  	<li>Roses</li>
  	<li>Ashley</li>
  	<li>Shelly</li>
  	<li>Michelle</li>
  	<li>Marie</li>
  </ul>
</section>
