<section class="section-blog-posts">
  <div class="content-wrap">
    <h1>Getting Real With Roses</h1>
    <div class="blog-post-card">
      <p class="blog-post-card__title">Title of the blog</p>
      <p class="blog-post-card__excerpt">Lorem ipsum dolor sit amet, autem nullam sit at posidonium ut eum mazim eirmod.</p>
      <p class="blog-post-card__read-more">Read more ></p>
    </div>
    <div class="blog-post-card">
      <p class="blog-post-card__title">Title of the blog</p>
      <p class="blog-post-card__excerpt">Lorem ipsum dolor sit amet, autem nullam sit at posidonium ut eum mazim eirmod.</p>
      <p class="blog-post-card__read-more">Read more ></p>
    </div>
  </div>
</section>
