<section class="section-services">
  <div class="content-wrap">

    <div class="tabbed-content">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1"><h2>Candidates Services</h2></li>
        <li class="tab-link" data-tab="tab-2"><h2>Employer Services</h2></li>
      </ul>

      <div class="tab-con">
        <div id="tab-1" class="tab-content current">
          <ul id="tab-content-1">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
        <div id="tab-2" class="tab-content">
          <ul id="tab-content-2">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn--large">See All Services</a>

  </div>
</section>
