&lt;div class=&quot;footer&quot; style=&quot;background-image: url('../../images/footer-bg.jpg');&quot;&gt;
	&lt;div class=&quot;content-wrap&quot;&gt;
		&lt;div id=&quot;footer-links&quot; class=&quot;footer-links&quot;&gt;
			&lt;ul&gt;
				&lt;li class=&quot;footer-links__link footer-links__link--header&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Header&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link footer-links__link--header&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Header&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link footer-links__link--header&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Header&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link footer-links__link--header&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Header&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Link&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link footer-links__link--header&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Header&lt;/a&gt;&lt;/li&gt;
		  	&lt;li class=&quot;footer-links__link footer-links__link--header&quot;&gt;&lt;a href=&quot;#&quot;&gt;Footer Header&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;footer-contact&quot;&gt;
			&lt;h3 class=&quot;footer-contact__title&quot;&gt;Contact Information&lt;/h3&gt;
			&lt;p class=&quot;footer-contact__email&quot;&gt;&lt;a href=&quot;#&quot;&gt;info@staffingkc.com&lt;/a&gt;&lt;/p&gt;
			&lt;p class=&quot;footer-contact__phone&quot;&gt;Ph: &lt;a href=&quot;#&quot;&gt;913-663-5627&lt;/a&gt;&lt;/p&gt;
			&lt;p class=&quot;footer-contact__address&quot;&gt;9930 College Boulevard&lt;br /&gt;Overland Park, KS 66210&lt;/p&gt;
			&lt;img class=&quot;footer-contact__logo&quot; src=&quot;../../images/staffingkc-logo-white.svg&quot; alt=&quot;&quot; /&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
