&lt;div class=&quot;hero-text&quot;&gt;
	&lt;div class=&quot;content-wrap&quot;&gt;
		&lt;img src=&quot;../../images/staffingkc-logo.svg&quot; class=&quot;hero-logo&quot; alt=&quot;Logo Alt Text&quot; /&gt;
		&lt;h1&gt;&quot;Personnel Services with a Pesonal Touch&quot;&lt;/h1&gt;
	&lt;/div&gt;
&lt;/div&gt;
