<div class="primary-nav">
	<div class="logo-nav-toggle">
		<a href="{{ url }}" class="logo-wrap">
			<img src="../../images/staffingkc-logo.svg" class="header-logo" alt="Logo Alt Text" />
		</a>
	</div>
	<div class="content-wrap">
		<ul class="nav no-list">
		 <li><a href="">Canidates</a></li>
		 <li><a href="">Employers</a></li>
		 <li><a href="">About Us</a></li>
		 <li><a href="">Services</a></li>
		 <li><a href="">Testimonials</a></li>
		 <li><a href="">Contact</a></li>
		</ul>
	</div>
</div>
