<div class="top-nav">
  <div class="content-wrap">
  	<span class="top-nav__links">
			<a href="#" class="top-nav__link btn btn--link">Blog</a>
			<a href="#" class="top-nav__link btn btn--link">FAQs</a>
			<a href="#" class="top-nav__link btn btn--link">Job Openings</a>
			<a href="tel:19136635627" class="top-nav__link btn btn--link">913-663-JOBS (5627)</a>
		</span>
		<span class="top-nav__buttons">
			<a href="#" class="top-nav__link btn btn--small">Login</a>
			<a href="#" class="top-nav__link btn btn--small">Apply Now</a>
		</span>
	</div>
</div>
