&lt;div class=&quot;mobile-head&quot;&gt;
	&lt;a href=&quot;{{ url }}&quot; class=&quot;mobile-head__logo&quot;&gt;
		&lt;img src=&quot;../../images/staffingkc-logo.svg&quot; class=&quot;header-logo&quot; alt=&quot;Logo Alt Text&quot; /&gt;
	&lt;/a&gt;
	&lt;a href=&quot;{{ url }}&quot; class=&quot;mobile-head__nav-toggle&quot; id=&quot;nav-toggle&quot;&gt;&lt;/a&gt;
&lt;/div&gt;

&lt;div class=&quot;nav-wrap&quot; id=&quot;nav-wrap&quot;&gt;
	{{&gt; molecules-top-nav }}
	{{&gt; molecules-primary-nav }}
&lt;/div&gt;
