<div class="hero-text">
	<div class="content-wrap">
		<img src="../../images/staffingkc-logo.svg" class="hero-logo" alt="Logo Alt Text" />
		<h1>"Personnel Services with a Pesonal Touch"</h1>
	</div>
</div>
